body{
  background: rgb(18, 114, 84);
  color: rgb(0, 0, 0);
  font-family: 'Nunito';
}

a{
  color: black;
  text-decoration: none;
}

.content{
  max-width: 960px;
  margin: auto;
}

nav{
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid whitesmoke;
}

nav a{
  margin-left: 12px
}

nav .logo{
  margin-right: auto;
}

footer{
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: rgb(33, 31, 31);
  border-top: 1px solid whitesmoke;
}

.nil{
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
}

.not-found{
  text-align: center;
}

.not-found a{
  color: blue;
  text-decoration: none;
}